.titulo {
  margin-bottom: 2rem;
  font-size: clamp(1.8rem, 3vw, 2.4rem);
  text-align: center;
  font-weight: 700;
  color: #003366;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background: #00619D;
  padding: 30px;
  border-radius: 10px;
}
.card p{
  color: #ffff;
  margin-bottom: 5rem;
}
.card h3 {
  margin-bottom: 3rem;
  color: #ffff;
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
