.titulo {
  margin-bottom: 2rem;
  font-size: clamp(1.8rem, 3vw, 2.4rem);
  text-align: center;
  font-weight: 700;
  color: #003366;
}
.galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  flex-wrap: wrap; 
  margin-top: 40px;
}
.foto {
  width: 16.5rem;
  height: 16.5rem;
  object-fit: cover;     
  border-radius: 50%;     
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.text {
  margin-top: 25px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #003366;
}

.lista {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 0 auto;      
  padding: 0;
  padding: 3rem;
}

.lista li {
  background: #0458b949;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 14px 18px;
  border-left: 5px solid #003366;
  border-radius: 8px;
  font-weight: 500;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 80%;  
  max-width: 700px;
}

.lista li:hover {
  transform: translateX(4px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.foto:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

@media (max-width: 600px) {
  .foto {
    width: 15rem;
    height: 15rem;
  }
  .galeria {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.lista li {
    width: 100%;
  }
}
